<template>
<div class="bg-white py-2 md:py-4 ">
    <div class="text-center">
        <p>Exercice Nuxt, développé par
        <br /><a href="" >Florian STOCK</a> & <a href="" >Yannis LECONTE </a></p>
    </div>
</div>
</template>
