<template>
<nav class="bg-white py-2 md:py-4 sticky top-0 z-50">
    <div class="container px-4 mx-auto md:flex md:items-center md:justify-start md:space-x-10">

      <div class="flex justify-between items-center">
        <a href="/" class="font-bold text-xl text-green-600">Domo-Geek</a>
        <button class="border border-solid border-gray-600 px-3 py-1 rounded text-gray-600 opacity-50 hover:opacity-75 md:hidden" id="navbar-toggle">
          <i class="fas fa-bars"></i>
        </button>
      </div>

      <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
        <nuxt-link to="/" class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 transition-colors duration-300">Acceuil</nuxt-link>
        <nuxt-link to="/tutorials/raspberry" class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 transition-colors duration-300">Tutos Raspberry</nuxt-link>
        <nuxt-link to="/tutorials/arduino" class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 transition-colors duration-300">Tutos Arduino</nuxt-link>
        <nuxt-link to="/tutorials/all" class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 transition-colors duration-300">Tout les tutos</nuxt-link>

        <nuxt-link v-if="!this.$auth.loggedIn || this.$auth.loggedIn == false" to="/auth/login" class="p-2 lg:px-4 md:mx-2  text-white rounded bg-green-400 hover:bg-green-600 transition-colors duration-300">Se connecter</nuxt-link>
        <button v-if="this.$auth.loggedIn" @click="logout" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-red-400 hover:bg-red-600 transition-colors duration-300">Déconnexion</button>
        <nuxt-link v-if="this.$auth.loggedIn" to="/create" class="p-2 lg:px-4 md:mx-2  text-white rounded bg-yellow-400 hover:bg-yellow-600 transition-colors inline-block duration-300">Nouveau</nuxt-link>  
        <!-- a href="#" class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-transparent rounded hover:bg-indigo-100 hover:text-indigo-700 transition-colors duration-300">Login</a> -->
        <!--  <a href="#" class="p-2 lg:px-4 md:mx-2 text-indigo-600 text-center border border-solid border-indigo-600 rounded hover:bg-indigo-600 hover:text-white transition-colors duration-300 mt-1 md:mt-0 md:ml-1">Signup</a> -->
      </div>
    </div>
    
  </nav>
</template>

<script>

export default {
  computed: {
 
  },
  methods:{
    logout(){
      console.log("t")
        this.$auth.logout().then(res =>
        {
          this.$router.push("/");
        
      })
    },
    isConnected()
    {      
      if(this.$auth == undefined) return false;

        return this.$auth.loggedIn;
    }
  }
}
</script>

<style>
a.nuxt-link-exact-active {
  color: #00c58e;
  background-color:#e5e7eb;
}
a.nuxt-link-active {
  font-weight: bold;
}

.router-link-exact-active.menuItem-active-link{
    border-bottom-color: #F19238;
    color:#F19238
 }
</style>
