<template>
  <div class="w-full p-3 transform transition duration-500 hover:scale-105">
    <div
      class="bg-white flex flex-col lg:flex-row rounded overflow-hidden h-auto xl:h-48 border shadow shadow-lg"
    >
      <img
        class="block h-auto w-full lg:w-48 cursor-pointer flex-none bg-cover h-24"
        :src="getImageUrl"
      />

      <div
        class="bg-white w-full rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal"
      >
        <div
          class="text-gray-400 text-right font-light text-xs mb-2 leading-tight"
        >
          Rédigé par {{ article.author }}, le
          {{ this.$dateFormat(article.published_at) }}
        </div>
        <div class="text-green-700 font-bold text-xl mb-2 leading-tight">
          {{ article.title }}
        </div>
        <div class="text-gray mb-5">{{ article.description }}</div>

        <p class="text-grey-darker text-base">
          <nuxt-link
            :to="{
              path: '/tutorials/' + article.id,
              query: { backUrl: $nuxt.$route.path },
            }"
            class="bg-white hover:bg-green-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow">Consulter cet article</nuxt-link>
            <button v-if="this.$auth.loggedIn == true" @click="showModal()" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-red-400 hover:bg-red-600 transition-colors duration-300">Supprimer</button>  

        </p>
      </div>
    </div>
    
  </div>
  

</template>

<script>
export default {
  props: {
    article: Object,
  },
  computed:{
      getImageUrl()
      {      
        return this.article.image === null ? `${this.$axios.defaults.baseURL}/uploads/default_f789e44779.png`:`${this.$axios.defaults.baseURL}${this.article.image.url}`;
      }
  },
  methods:{
    showModal()
    {   
      this.$emit('delete-article-action', this.article.id)
    }
  
  }
};
</script>