<template>
  <div class="w-auto">
    <div
      v-for="article in list"
      :key="article.id"
      class="container max-w-screen-lg m-auto flex flex-wrap flex-col md:flex-row items-center justify-start"
    >
      <ArticleCard :article="article" @delete-article-action="showModalDeleting" />
    </div>
    <div
      v-if="totalArticles > 5"
      class="p-8 max-w-screen-lg m-auto flex flex-row items-center justify-start"
    >
      <a
        @click="previousPage()"
        v-if="actualPage != 1"
        class="cursor-pointer md:flex justify-center items-center hidden leading-5 transition duration-150 ease-in rounded-full"
        >Page précédente</a
      >
      <div
        class="md:flex flex-grow justify-center items-center hidden leading-5 transition duration-150 ease-in animate-bounce rounded-full"
      >
        {{ actualPage }}/{{ totalPages }}
      </div>
      <a
        @click="nextPage()"
        v-if="actualPage != totalPages"
        class="cursor-pointer md:flex justify-center text-right float-right items-center leading-5 transition duration-150 ease-in rounded-full"
        >Page suivante</a
      >
    </div>
    <ConfirmationModal :class="showDeletingModal" @cancel="hideModal" @validate="removeArticle" title="Supprimer cet article ?" yes="Supprimer" no="Annuler" content="Souhaitez-vous vraiment supprimer cet article ? Vous ne pourrez plus revenir en arrière !" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      list: [],
      page: 0,
      totalArticles: 0,
      articlesPerPage: 5,
      showDeletingModal:"invisible",
      articleTarget:0
    };
  },
  props: {
    category: String,
  },
  computed: {
    totalPages() {
      const pages = Math.round(this.totalArticles / this.articlesPerPage);
      return pages == 0 ? "1" : pages + 1;
    },
    actualPage() {
      return this.page + 1;
    },
  },
  mounted() {
    console.log(this.$route.query.page);
    this.$route.query.page == undefined
      ? (this.page = 0)
      : (this.page = this.$route.query.page);
    this.getArticles();
  },
  methods: {
    async getArticles() {
      const limit =
        this.page == 0
          ? this.articlesPerPage
          : this.page * this.articlesPerPage;
      console.log(this.page);

      switch (this.category) {
        case undefined:
          this.$axios
            .$get("/articles", {
              params: {
                categorie_ncontains: "news",
                _start: this.page * this.articlesPerPage,
                _limit: limit,
              },
            })
            .then((result) => {
              this.list = result;
            });
          this.$axios
            .$get("/articles/count", {
              params: { categorie_ncontains: "news" },
            })
            .then((result) => {
              this.totalArticles = result;
            });
          break;
        case "*":
          this.$axios
            .$get("/articles", {
              params: {
                _sort: "created_at:DESC",
                _start: this.page * this.articlesPerPage,
                _limit: limit,
              },
            })
            .then((result) => {
              this.list = result;
            });
          this.$axios
            .$get("/articles/count")
            .then((result) => {
              this.totalArticles = result;
            });
          break;
        default:
          this.$axios
            .$get("/articles", { params: { categorie: this.category } })
            .then((result) => {
              this.list = result;
              this.$axios
                .$get("/articles/count", {
                  params: { categorie: this.category },
                })
                .then((result) => {
                  this.totalArticles = result;
                });
            });
          break;
      }
    },

    previousPage() {
      this.page -= 1;
      this.getArticles();
    },

    nextPage() {
      this.page += 1;
      this.getArticles();
    },

    showModalDeleting(e){
        this.showDeletingModal = "visible";
        this.articleTarget = e;
    },

    hideModal(){
        this.showDeletingModal = "invisible";
    },

    removeArticle(){
         this.$axios
            .$delete("/articles/"+this.articleTarget)
            .then((result) => {
                this.getArticles();
                this.showDeletingModal = "invisible";             
            });
    }
  },
};
</script>