<template>
  <div class="container mx-auto  mt-4 bg-white rounded">
    <div class="flex rounded flex-row bg-gray-100">
    <img class="block h-auto w-full lg:w-80 cursor-pointer flex-none bg-cover h-24" :src="getImageUrl"/>
    <h1 class="text-green-600 p-4 text-2xl font-bold">{{ article.title }}</h1>
    </div>
    
    
    <div class="flex px-4 mb-4 px-4 p-2 shadow flex-row bg-green-200">
      <nuxt-link class="p-2 lg:px-4 md:mx-2 text-white rounded bg-gray-400 hover:bg-gray-600 transition-colors duration-300" :to="backUrl">Retour</nuxt-link>
      <button v-if="this.$auth.loggedIn" @click="showModal()" class="p-2 lg:px-4 md:mx-2 text-white rounded bg-red-400 hover:bg-red-600 transition-colors duration-300">Supprimer</button>  
      <div class="ml-auto text-right font-light">
        Rédigé par {{ article.author }}, à
        {{ this.$dateFormat(article.published_at) }}
      </div>
    </div>
    
    <div class="py-4  p-8 description" v-html="$md.render(contentBody)"></div>
    <ConfirmationModal :class="showDeletingModal" @cancel="hideModal" @validate="removeArticle" title="Supprimer cet article ?" yes="Supprimer" no="Annuler" content="Souhaitez-vous vraiment supprimer cet article ? Vous ne pourrez plus revenir en arrière !" />
  </div>
</template>

<style>
.description h1 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.description h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.description h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.description h4 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.description h5 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.description h6 {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
</style>

<script>
export default {
  data() {
    return {
      article: {},
      showDeletingModal: "invisible"
    };
  },
  mounted() {
    this.$axios.$get(`/articles/${this.$route.params.id}`).then((result) => {
      this.article = result;
    });
  },
  computed: {
    contentBody: function () {
      return this.article.body == null ? "" : this.article.body;
    },
    backUrl: function () {
      return this.$route.query.backUrl == undefined ? "/" : this.$route.query.backUrl;
    },
    getImageUrl:function()  
    {
      if(this.article.image === null) return `${this.$axios.defaults.baseURL}/uploads/default_f789e44779.png`;
      return this.article.image !== undefined ? `${this.$axios.defaults.baseURL}${this.article.image.url}` : "";
    }
 
  },
  methods:{
      showModal()
      {
        this.showDeletingModal = "visible";
      },
      hideModal()
      {
        this.showDeletingModal = "invisible";
      },
      removeArticle()
      {
        this.$axios
            .$delete("/articles/"+this.article.id)
            .then((result) => {
                this.$router.push("/");     
            });
      }
  }
};
</script>