<template>
  <div class="page">
    <AppHeader />
    <div class="flex-grow">
      <Nuxt />
    </div>  
    <AppFooter/>
  </div>
</template>

<style>

.page{
  min-height:100vh;
	display:flex; 
	flex-direction:column;
}
/* .content{
  flex-grow: 1;
} */

body{
  background-color:rgb(240,240,240);
}

</style>
