<template>
  <div>
    <div
      class="container max-w-screen-lg m-auto mt-3 p-3 flex-row items-center justify-start bg-white"
    >
      <h3 class="font-semibold text-lg mr-auto">Création d'un article</h3>
      <div class="place-content-center">
        <div class="flex mt-5">
          <label for="title">Titre : </label>
          <input
            class="ml-2 p-2 focus:ring-green-500 focus:border-green-500 flex-1 block w-full rounded sm:text-sm border-2 border-gray-800 max-w-xl"
            name="title"
            type="text"
            v-model="title"
          />
        </div>
        
        <div class="flex mt-5">
          <label for="desc">Description : </label>
          <textarea
            class="ml-2 p-2 focus:ring-green-500 focus:border-green-500 flex-1 block w-full rounded sm:text-sm border-2 border-gray-800 max-w-xl"
            name="desc"
            v-model="desc"
          />
        </div>
        <div class="flex mt-5">
          <label for="body">Corps : </label>
          <textarea
            class="ml-2 p-2 focus:ring-green-500 focus:border-green-500 flex-1 block w-full rounded sm:text-sm border-2 border-gray-800 max-w-xl"
            name="body"
            v-model="body"
          />
        </div>
        <div class="flex mt-5">
          <label for="author">Auteur : </label>
          <input
            class="ml-2 p-2 focus:ring-green-500 focus:border-green-500 flex-1 block w-full rounded sm:text-sm border-2 border-gray-800 max-w-xl"
            name="author"
            type="text"
            v-model="author"
          />
        </div>
        <div class="flex mt-5">
          <label for="cat">Catégorie : </label>
          <select
            v-model="category"        
            name="cat"
            class="ml-2 p-2 focus:ring-green-500 focus:border-green-500 flex-1 block w-full rounded sm:text-sm border-2 border-gray-800 max-w-xl"
          >
            <option value="rpi">Tuto RPI</option>
            <option value="arduino">Tuto Arduino</option>
            <option value="news">News</option>
          </select>
        </div>
      </div>
      <button  class="p-2 lg:px-4 md:mx-2 text-white m-2 rounded bg-green-400 hover:bg-green-600 transition-colors duration-300" @click="sendForm">Envoyer</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "",
      body: "",
      author: "",
      category: "*",
      desc:""
    };
  },
  methods: {
    sendForm() {
      this.$axios.$post('/articles', {
        title: this.title,
        body: this.body,
        author: this.author,
        description: this.desc,
        categorie:this.category
      }).then(res=>{this.$router.push("/");});
    },
  },
};
</script>