<template>
  <div>
    <div class="container max-w-screen-lg m-auto mt-3 p-3 items-center justify-start bg-white">
      <h3>Bienvenue sur domo-geek</h3>
      <p>
        Vous retrouverez des actualités et des tutoriels pour réalisé vos projet a base de raspberry pi et d'arduino.
      </p>
    </div>
    <ArticleList v-bind:category="category" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      category: "*",
    };
  },
  mounted() {},
};
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
*/
</style>